<div class="flex flex-col flex-auto gap-4">
  
  <blouppy-title text="Hello, world!"></blouppy-title>

  <div>
      <!-- Replace with your content -->
      <div class="py-4">
        <p class="pb-4 dark:text-gray-200">Welcome to your new single-page application, built with:</p>
        <ul class="dark:text-gray-200">
          <li><a href='https://get.asp.net/'>ASP.NET Core</a> and <a href='https://msdn.microsoft.com/en-us/library/67ef8sbd.aspx'>C#</a> for cross-platform server-side code</li>
          <li><a href='https://angular.io/'>Angular</a> and <a href='http://www.typescriptlang.org/'>TypeScript</a> for client-side code</li>
        </ul>
        <p class="py-4 dark:text-gray-200">To help you get started, we've also set up:</p>
        <ul class="dark:text-gray-200">
          <li><strong>Client-side navigation</strong>. For example, click <em>Counter</em> then <em>Back</em> to return here.</li>
          <li><strong>Angular CLI integration</strong>. In development mode, there's no need to run <code>ng serve</code>. It runs in the background automatically, so your client-side resources are dynamically built on demand and the page refreshes when you modify any file.</li>
          <li><strong>Efficient production builds</strong>. In production mode, development-time features are disabled, and your <code>dotnet publish</code> configuration automatically invokes <code>ng build</code> to produce minified, ahead-of-time compiled JavaScript files.</li>
        </ul>
        <p class="dark:text-gray-200">The <code>ClientApp</code> subdirectory is a standard Angular CLI application. If you open a command prompt in that directory, you can run any <code>ng</code> command (e.g., <code>ng test</code>), or use <code>npm</code> to install extra packages into it.</p>         
      </div>  
  </div>
</div>