<div class="flex space-x-3">
  <div class="flex-shrink-0">
    @if (comment.adherent.hasAvatar) {
      <img class="h-10 w-10 rounded-full" [src]="urlAvatar + comment.adherent.identityId">
    }
    @else {
      <img class="h-10 w-10 rounded-full" src="assets/images/avatars/profile.jpg">
    }
  </div>
  <div class="min-w-0 flex-1 p-4 rounded border border-gray-300 dark:border-gray-700">
    <div class="flex space-x-3">
      <div class="min-w-0 flex-1">
        <p class="text-sm font-medium mb-0 dark:text-gray-100">
          <span class="hover:underline">{{comment.adherent.firstName}}</span>
        </p>
        <p class="text-sm text-gray-500">
          @if (!comment.lastModifiedDate) {
            <span class="hover:underline">{{comment.createdDate | date:'medium'}}</span>
          }
          @else {
            <span class="hover:underline">{{comment.lastModifiedDate | date:'medium'}} (Modified)</span>
          }
        </p>
      </div>
      @if (canModify) {
        <div class="flex-shrink-0 self-center flex">
          <div class="relative z-30 inline-block text-left">
            <div>
              <button mat-icon-button [matMenuTriggerFor]="commentMenu"
                class="-m-2 p-2 rounded-full flex items-center text-gray-400 hover:text-gray-600">
                <mat-icon>more_vert</mat-icon>
              </button>
              <!-- Comment Menu -->
              <mat-menu #commentMenu="matMenu" class="dark:bg-gray-600">
                <button (click)="editCommentCliked = true" [disabled]="!commentForm.get('message').value"
                  class="group flex items-center px-4 py-2 text-gray-400 hover:text-gray-500 dark:text-gray-100 dark:hover:text-gray-400">
                  <mat-icon class="h-6 w-6 mr-1.5 flex-none">edit
                  </mat-icon>
                  <span class="text-sm font-medium">Edit
                    Comment</span>
                </button>
                <button (click)="commentRemoved.emit(comment)"
                  class="group flex items-center px-4 py-2 text-gray-400 hover:text-gray-500 dark:text-gray-100 dark:hover:text-gray-400">
                  <mat-icon class="h-6 w-6 mr-1.5 flex-none">
                    delete</mat-icon>
                  <span class="text-sm font-medium">Remove
                    Comment</span>
                </button>
              </mat-menu>
            </div>
          </div>
        </div>
      } 
    </div>
    <div>
      @if (!editCommentCliked) {
        <p class="dark:text-gray-100 whitespace-normal break-words">{{comment.message}}</p>
      }
      @else {
        <form class="flex-col items-end content-end justify-start w-full" [formGroup]="commentForm"
          (submit)="updateComment()">

          <div>
            <div>
              <mat-form-field class="w-full" appearance="outline">
                <textarea #editComment matInput class="text-gray-900 dark:text-gray-100" [formControlName]="'message'"
                  [rows]="1" matTextareaAutosize [matAutosizeMinRows]="1">
                                                                      </textarea>
              </mat-form-field>
            </div>
            <div class="space-x-1">
              <button mat-icon-button [disabled]="!commentForm.dirty "
                class="order-0 inline-flex items-center px-2 py-2 border border-transparent shadow-sm text-sm font-medium rounded text-indigo-100 bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500 disabled:opacity-50 disabled:bg-gray-300 disabled:text-gray-500 sm:order-1">
                <mat-icon class="mr-1">edit</mat-icon>
              </button>
              <button mat-icon-button type="button" (click)="editCommentCliked = false"
                class="order-0 inline-flex items-center px-2 py-2 border border-transparent shadow-sm text-sm font-medium rounded text-red-100 bg-red-600 hover:bg-red-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-red-500 disabled:opacity-50 disabled:bg-gray-300 disabled:text-gray-500 sm:order-1">
                <mat-icon class="mr-1">close</mat-icon>
              </button>
            </div>
          </div>
        </form>
      }
    </div>
  </div>
</div>