<!-- Header -->
<div class="bg-primary-600 dark:bg-primary-900 p-4">
  <div class="-ml-4 -mt-2 flex items-center justify-between flex-wrap sm:flex-nowrap">
    <div class="ml-4 mt-2">
      <h3 class="text-lg leading-6 font-medium text-gray-100">
        Card
      </h3>
    </div>
    <div class="ml-4 mt-2 flex-shrink-0">
      <!-- [disabled]="!cardForm.valid" -->
      <button mat-dialog-close mat-icon-button 
      class="text-primary-200 hover:bg-primary-700 hover:text-white dark:text-primary-100 dark:hover:bg-primary-800 dark:hover:text-white">
        <span class="sr-only">Close card</span>
        <mat-icon>close</mat-icon>
      </button>
    </div>
  </div>
</div>

<!-- Content -->
<mat-dialog-content class="mat-typography p-4 m-0 dark:bg-gray-900 text-gray-900 dark:text-gray-100">
  @if (card) {
    <div class="grid grid-cols-6 pt-2">
      <div class="col-span-4">
  
        <!-- Card form -->
        <form class="flex flex-col flex-0 items-start w-full space-y-1" [formGroup]="cardForm">
          @if (card.dueDate) {
            <!-- Due date-->
            <div>
              <div class="flex items-center">
                <mat-icon class="mr-4 text-primary">event</mat-icon>
                <p class="block m-0 text-sm font-medium text-gray-700 dark:text-gray-200">
                  Due date</p>
              </div>
              <div class="relative flex items-center mt-1.5 mb-3 px-4 leading-9 rounded-full"
                [ngClass]="{'text-green-800 bg-green-200 dark:text-green-100 dark:bg-green-500': card.dueDate && !isOverdue(card.dueDate),
                                'text-red-800 bg-red-200 dark:text-red-100 dark:bg-red-500': card.dueDate && isOverdue(card.dueDate)}">
                <mat-icon class=" text-current">event</mat-icon>
                <span class="ml-2 text-md font-medium">{{card.dueDate | date:'longDate'}}</span>
                <button (click)="dueDatePicker.select(null)"
                  class="w-8 h-8 ml-3 inline-flex items-center justify-center">
                  <mat-icon class="h-6 w-6">clear</mat-icon>
                </button>
              </div>
            </div>
          }
          
  
          <mat-form-field class="w-0 h-0 invisible">
            <input matInput [matDatepicker]="dueDatePicker" [formControlName]="'dueDate'">
          </mat-form-field>
  
          <!-- Name -->
          <div class="w-full">
            <div class="flex items-center justify-between pb-1">
              <div class="flex items-center">
                <mat-icon class="mr-4 text-primary">edit</mat-icon>
                <p class="block m-0 text-sm font-medium text-gray-700 dark:text-gray-200">
                  Name*</p>
              </div>
            </div>
            <mat-form-field class="w-full" appearance="outline">
              <textarea matInput class="text-gray-900 dark:text-gray-100" [formControlName]="'name'" [rows]="1"
                cdkTextareaAutosize cdkAutosizeMinRows="1">
              </textarea>
              <mat-error>Name is required.</mat-error>
            </mat-form-field>
          </div>
  
          <!-- Description -->
          <div class="w-full">
            <div class="flex items-center justify-between pb-1">
              <div class="flex items-center">
                <mat-icon class="mr-4 text-primary">description</mat-icon>
                <p class="block m-0 text-sm font-medium text-gray-700 dark:text-gray-200">
                  Description</p>
              </div>
            </div>
            <mat-form-field class="w-full" appearance="outline" subscriptSizing="dynamic">
              <textarea matInput class="text-gray-900 dark:text-gray-100" [formControlName]="'description'" [rows]="6"
                cdkTextareaAutosize cdkAutosizeMinRows="1">
              </textarea>
            </mat-form-field>
          </div>
  
          <!-- Members -->
           @if (card.adherents.length > 0) {
              <div class="w-full">
                <div class="flex items-center justify-between pb-1">
                  <div class="flex items-center">
                    <mat-icon class="mr-4 text-primary">group</mat-icon>
                    <p class="block m-0 text-sm font-medium text-gray-700 dark:text-gray-200">
                      Members</p>
                  </div>
                </div>
                <mat-form-field class="w-full" appearance="outline" subscriptSizing="dynamic">
                  <mat-chip-grid 
                    #memberChipList 
                    aria-label="member selection">
                    @for (member of card.adherents; track $index) {
                      <mat-chip-row 
                        (removed)="removeMemberChip(member)">
                        <img
                          matChipAvatar
                          [src]="member.hasAvatar 
                                  ? urlAvatar + member.identityId 
                                  : 'assets/images/avatars/profile.jpg'"
                          class="rounded-full" />
                        {{member.firstName}}
                        <button matChipRemove>
                          <mat-icon>cancel</mat-icon>
                        </button>
                        
                      </mat-chip-row>
                    }
                    
                    <input 
                      #memberInput 
                      placeholder="New member..."
                      [formControl]="memberCtrl" 
                      [matAutocomplete]="auto"
                      [matChipInputFor]="memberChipList" 
                      [matChipInputSeparatorKeyCodes]="separatorKeysCodes">
                  </mat-chip-grid>
                  <mat-autocomplete 
                    #auto="matAutocomplete" 
                    (optionSelected)="selectedMemberChip($event)">
                    @for (member of filteredMembers | async; track $index) {
                      <mat-option [value]="member">
                        <div class="flex items-center space-x-3">
                          <div class="flex-shrink-0">
                            @if (member.hasAvatar) {
                              <img class="h-10 w-10 rounded-full" [src]="urlAvatar + member.identityId" alt="">
                            }
                            @else {
                              <img class="h-10 w-10 rounded-full" src="assets/images/avatars/profile.jpg">
                            }
                          </div>
                          <div class="flex-1 min-w-0">
                            <p class="text-sm font-medium text-gray-900 dark:text-gray-100">
                              {{member.firstName}}
                            </p>
                            <p class="text-sm text-gray-500 truncate">
                              {{member.job}}
                            </p>
                          </div>
                        </div>
                      </mat-option>
                    }
                  </mat-autocomplete>
                </mat-form-field>
              </div>
           }
          
  
          <!-- Labels -->
           @if (card.labels.length > 0) {
              <div class="w-full">
                <div class="flex items-center justify-between pb-1">
                  <div class="flex items-center">
                    <mat-icon class="mr-4 text-primary">label</mat-icon>
                    <p class="block m-0 text-sm font-medium text-gray-700 dark:text-gray-200">
                      Labels</p>
                  </div>
                </div>
                <mat-form-field class="w-full" appearance="outline" subscriptSizing="dynamic">
                  <mat-chip-grid #chipList aria-label="label selection">
                    @for (label of card.labels; track $index) {
                      <mat-chip-row
                        (removed)="removeLabelChip(label)" 
                        class="text-indigo-100" 
                        [ngClass]="label.colour.colour">
                        {{label.name}}
                        <button matChipRemove>
                          <mat-icon>cancel</mat-icon>
                        </button>
                      </mat-chip-row>
                    }
  
                    <input #labelInput
                      placeholder="New label..."  
                      [formControl]="labelCtrl" 
                      [matAutocomplete]="auto"
                      [matChipInputFor]="chipList" 
                      [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                      (matChipInputTokenEnd)="addLabelChip($event)">
                  </mat-chip-grid>
                  <mat-autocomplete #auto="matAutocomplete" 
                    (optionSelected)="selectedLabelChip($event)">
                    @for (label of filteredLabels | async; track $index) {
                      <mat-option [value]="label">
                        {{label.name}}
                      </mat-option>
                    }
                  </mat-autocomplete>
                </mat-form-field>
              </div>
           }
  
  
          <!-- Checklists -->
           @if (card.checklists.length > 0) {
              <div class="w-full pb-8">
                <checklists [checklists]="card.checklists" (checklistsUpdated)="updateChecklists($event)"></checklists>
              </div>
           }
          
  
          <!-- Add Comment -->
          <div class="w-full pb-4">
            <div class="flex items-center justify-between pb-1">
              <div class="flex items-center">
                <mat-icon class="mr-4 text-primary">comment</mat-icon>
                <p class="block m-0 text-sm font-medium text-gray-700 dark:text-gray-200">
                  Comments</p>
              </div>
            </div>
            <comment-add [card]="card" (commentAdded)="addComment($event)"></comment-add>
          </div>
  
          <!-- Comments -->
           @if (card.comments.length > 0) {
            <div class="w-full">
              <comments [comments]="card.comments" (commentsUpdated)="updateComments($event)"></comments>
            </div>
           }
          
  
          <!-- Activities -->
          <div class="w-full pt-1">
            <div class="flex items-center justify-between">
              <div class="flex items-center">
                <mat-icon class="mr-4 text-primary">list</mat-icon>
                <p class="block m-0 text-sm font-medium text-gray-700 dark:text-gray-200">
                  Activity</p>
              </div>
              <button type="button" (click)="toogleActivities()"
                class="inline-flex items-center justify-center relative px-4 py-2 border border-transparent text-sm font-medium rounded-md text-indigo-700 bg-indigo-100 hover:bg-indigo-200 ">
                <mat-icon class="mr-1">history</mat-icon>
                {{!showActivities ? 'Show': 'Hide'}}
              </button>
            </div>
            @if (showActivities) {
              <div class="w-full">
                @if (activitiesEmitter$ | async; as activities) {
                  <activities [activities]="activities"></activities>
                }
                @else {
                  <div class="p-8 text-2xl font-semibold text-center">There are no activities!</div>
                }
              </div>
            }
          </div>
        </form>
      </div>

      <!-- Properties -->
      <div class="col-span-2 px-4">
        <div class="flex items-center mb-2">
          <p class="block m-0 text-sm font-medium text-gray-700 dark:text-gray-200">
            Properties</p>
        </div>
        <div class="flex-row space-y-2">
          <button type="button" [matMenuTriggerFor]="memberMenu" #memberMenuTrigger="matMenuTrigger"
            class="w-full inline-flex items-center px-4 py-2 border border-transparent text-sm font-medium rounded-md text-indigo-700 bg-indigo-100 hover:bg-indigo-200 ">
            <mat-icon class="mr-1">person</mat-icon>
            Members
          </button>
          <mat-menu #memberMenu="matMenu" [overlapTrigger]="false" class="dark:bg-gray-900">
            <div class="p-4 flex flex-col gap-2 max-h-48 leading-none overflow-y-auto" (click)="$event.stopPropagation()">
  
              <label class="block text-sm font-medium text-gray-700 dark:text-gray-200">Members</label>
              <!-- Members -->
              <adherent-selector [selectedAdherents]="card.adherents" [adherents]="allMembers"
                (adherentUpdated)="updateMembers($event)">
              </adherent-selector>
            </div>
          </mat-menu>
          <button type="button" [matMenuTriggerFor]="labelMenu" #labelMenuTrigger="matMenuTrigger"
            class="w-full inline-flex items-center px-4 py-2 border border-transparent text-sm font-medium rounded-md text-indigo-700 bg-indigo-100 hover:bg-indigo-200 ">
            <mat-icon class="mr-1">label</mat-icon>
            Labels
          </button>
          <mat-menu #labelMenu="matMenu" [overlapTrigger]="false" class="dark:bg-gray-900">
            <div class="p-4 flex flex-col gap-2 max-h-48 leading-none overflow-y-auto" (click)="$event.stopPropagation()">
  
              <label class="block text-sm font-medium text-gray-700 dark:text-gray-200">Labels</label>
              <!-- Labels -->
              <label-selector [selectedLabels]="card.labels" [labels]="allLabels" (labelUpdated)="updateLabels($event)"
                (labelCompletelyDeleted)="deletedLabelFromCtrl($event)">
              </label-selector>
  
              <mat-divider class="my-2"></mat-divider>
  
              <!-- Label Form -->
              <label-add (labelAdded)="addLabel($event)" (labelCanceled)="labelMenuTrigger.closeMenu()"
                (click)="$event.stopPropagation()"></label-add>
            </div>
          </mat-menu>
  
          <button type="button" [matMenuTriggerFor]="checklistMenu" #checklistMenuTrigger="matMenuTrigger"
            class="w-full inline-flex items-center px-4 py-2 border border-transparent text-sm font-medium rounded-md text-indigo-700 bg-indigo-100 hover:bg-indigo-200 ">
            <mat-icon class="mr-1">checklist</mat-icon>
            Checklists
          </button>
          <mat-menu #checklistMenu="matMenu" [overlapTrigger]="false" class="dark:bg-gray-900">
            <!-- Checklist Form -->
            <checklist-add (checklistAdded)="addChecklist($event)" (checklistCanceled)="checklistMenuTrigger.closeMenu()"
              (click)="$event.stopPropagation()">
            </checklist-add>
          </mat-menu>
  
          <button type="button" (click)="dueDatePicker.open()"
            class="w-full inline-flex items-center px-4 py-2 border border-transparent text-sm font-medium rounded-md text-indigo-700 bg-indigo-100 hover:bg-indigo-200 ">
            <mat-icon class="mr-1">event</mat-icon>
            Due Date
          </button>
          <!-- Due Date Picker -->
          <mat-datepicker #dueDatePicker>
            <mat-datepicker-actions>
              <button type="button" matDatepickerApply
                class="inline-flex items-center px-4 py-2 border border-transparent shadow-sm text-sm font-medium rounded text-indigo-100 bg-indigo-600 hover:bg-indigo-700 ">
                <mat-icon class="mr-2">save</mat-icon>
                Save
              </button>
              <button type="button" matDatepickerCancel (click)="dueDatePicker.select(null)"
                class="inline-flex items-center px-4 py-2 ml-3 border border-transparent shadow-sm text-sm font-medium rounded text-indigo-100 bg-indigo-600 hover:bg-indigo-700 ">
                <mat-icon class="mr-2">delete</mat-icon>
                Remove
              </button>
            </mat-datepicker-actions>
          </mat-datepicker>

          <button type="button" (click)="deleteCard(card)"
            class="w-full inline-flex items-center px-4 py-2 border border-transparent text-sm font-medium rounded-md text-indigo-700 bg-indigo-100 hover:bg-indigo-200 ">
            <mat-icon class="mr-1">delete</mat-icon>
            Remove Card
          </button>
        </div>
      </div>
    </div>
  }
</mat-dialog-content>