<label class="block text-sm font-medium text-gray-700 dark:text-gray-200">{{label}}</label>
<div class="mt-1 relative rounded-md text-gray-400 focus-within:text-gray-600">
  <div class="flex items-center">
    <mat-form-field class="w-full" appearance="outline" subscriptSizing="dynamic">
      <input 
        matInput
        readonly 
        type="text" 
        [ngModel]="color | stringColor"
        (ngModelChange)="colorChange.emit(color)"
        [attr.placeholder]="placeholder">
    
        <mat-icon matPrefix class="icon-size-5">palette</mat-icon>
    
    </mat-form-field>
    <div class="relative ml-3">
      <button type="button" [matMenuTriggerFor]="menu"
        class="w-10 h-10 rounded-full inline-flex p-2 shadow "
        [class]="color.colour">
        <mat-icon class="w-6 h-6 fill-current text-indigo-100">colorize</mat-icon>
      </button>
    </div>
  </div>
</div>


<!-- Menu dropdown-->
<mat-menu #menu="matMenu" class="dark:bg-gray-600">
      <div class="flex flex-wrap w-36 h-36">
        @for (pickerColor of colors; track $index) {
          <div class="px-2">
            <div (click)="updateColor(pickerColor)" class="w-8 h-8 inline-flex rounded-full cursor-pointer border-2 border-gray-200"
            [class]="color.colour === pickerColor.colour ? pickerColor.colour + ' outline-none ring-2 ring-offset-2 ring-indigo-500' : pickerColor.colour ">
            </div>
          </div>
        }
      </div>
</mat-menu>