<div class="p-4 md:p-8 flex min-w-0 flex-auto flex-col gap-4">
    <blouppy-title text="Memory Game"></blouppy-title>

    <div>
        <!-- Replace with your content -->
        <div class="py-4">
            <p class="dark:text-gray-200">This is a simple memory game for fun.</p>
    
            <div class="flex items-center justify-between py-4 border-b border-gray-200 dark:border-gray-900">
                <div class="flex-1 min-w-0">
                    <button mat-flat-button
                        [disabled]="disablePlay"
                        (click)="playGame()">
                        Play
                    </button>
                    @if (displayTimer) {
                        <mat-icon class="dark:text-gray-100">schedule</mat-icon>
                        <countdown #countdown class="dark:text-gray-100" [config]="config" (event)="onTimerFinished($event)"></countdown>
                    } 
                </div>
            </div>
    
            @if (cards) {
                <div class="flex flex-col items-center">
                    <memory-game-score [score]="score"></memory-game-score>
        
                    <div class="memory flex flex-wrap p-2 select-none">
                        @for (card of cards; track trackByFn($index, card)) {
                            <memory-game-card [card]="card" (cardClick)="handleCardClick($event)"></memory-game-card>
                        }
                    </div>
                    @if (won && results !== null) {
                        <memory-game-results [results]="results"></memory-game-results>
                    }
                    @else if (won && results == null) {
                        <memory-game-high-score-input [score]="score" (onStored)="displayResults($event)"></memory-game-high-score-input>
                    }
                </div>
            }
        </div>
    </div>
</div>