<mat-sidenav-container class="flex-1 w-full min-w-full h-full min-h-full"
  [class.dark-theme]="isDarkTheme" [dir]="dir">

  <!-- Sidenav -->
  <mat-sidenav #sidenav class="w-64 bg-white/75 dark:bg-gray-950/75 backdrop-blur transition-colors" [opened]="!isScreenSmall"
    [mode]="isScreenSmall ? 'over' : 'side'">

    <div class="flex flex-col min-h-screen">
        <!-- Logo -->
        <div class="pb-[0.35rem] flex-none border border-l-0 border-y-0 border-gray-300 dark:border-gray-700 items-center">
          <app-blouppy-icon svgClass="px-2 h-[58px] w-32 text-gray-950 dark:text-white"></app-blouppy-icon>
        </div>
        <mat-nav-list class="grow px-2 space-y-1 border-l-0 border border-gray-300 dark:border-gray-700">
          <a matLine *ngFor="let path of navigationPaths" 
            [routerLink]="path.Href" routerLinkActive="bg-indigo-800"
            class="text-gray-950/75 dark:text-white/75 hover:bg-primary-600 group flex items-center px-2 py-2 text-sm font-medium rounded-md">
            <mat-icon class=" mr-3 flex-shrink-0 h-6 w-6">{{path.Icon}}</mat-icon> {{path.Name}}
          </a>
        </mat-nav-list>
    </div>
    
  </mat-sidenav>
  
  <mat-sidenav-content class="relative overflow-auto min-h-screen bg-white/75 dark:bg-gray-950/75">
      <div class="relative">
          <!-- Toolbar -->
          <mat-toolbar class="sticky p-2 border-l-0 border-t-0 border border-gray-300 dark:border-gray-700 top-0 z-40 w-full backdrop-blur flex-none transition-colors duration-500 bg-white/75 dark:bg-gray-950/75">
  
            <button
              class="bg-white dark:bg-gray-900 px-2 pt-2 rounded-full text-gray-400 hover:text-gray-500  focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500"
              (click)="sidenav.toggle()">
              <mat-icon>menu</mat-icon>
            </button>
          
            <div class="flex-1 px-4 flex justify-between">
              <div class="flex-1 flex"></div>
              <div class="ml-4 flex items-center md:ml-6">
                <!-- <notification></notification> -->
                <user-profile (toggleTheme)="toggleTheme()" (toggleDir)="toggleDir()"></user-profile>    
              </div>
            </div>
          </mat-toolbar>
  
          <div class="relative max-w-7xl mx-auto main">
            <div class="fixed left-1/2 top-1/2 h-96 w-96 -translate-x-64 -translate-y-64 scale-125 rounded-full bg-indigo-800/30 blur-[150px] dark:blur-[100px] z-0 pointer-events-none"></div>
        
            <!-- Main -->
             <main class="relative">
               <router-outlet></router-outlet>
             </main>
          </div>
      </div>
  </mat-sidenav-content>
  
</mat-sidenav-container>