<div class="p-4 md:p-8 flex min-w-0 flex-auto flex-col gap-4">
   
    <blouppy-title text="Counter"></blouppy-title>

    <div class="py-4">
        <p class="dark:text-gray-200">This is a simple example of an Angular component.</p>
        <p class="dark:text-gray-200" aria-live="polite">Current count: <strong>{{ currentCount }}</strong></p> 
        <div class="flex flex-row gap-4">
            <button mat-flat-button
                (click)="incrementCounter()">
                Increment
            </button>
            <button mat-flat-button
                (click)="decrementCounter()">
                Decrement
            </button>       
        </div> 
    </div>  
</div>