@mixin _mat-radio-color($theme) {
  @if ($theme != null) {

    //@debug $theme;
      &.mat-radio-checked .mat-radio-outer-circle {
      @if (type-of(mat-color($theme)) == color) {
          // border color
          border-color: mat-color($theme);
      }
      @else {
          // border gradient color
          border: 2px solid transparent;
          border-radius: 80px;
          background-image: linear-gradient(white, white), mat-color($theme);
          background-origin: border-box;
          background-clip: content-box, border-box;
      }
    }
  }
    .mat-radio-inner-circle,
    .mat-radio-ripple .mat-ripple-element:not(.mat-radio-persistent-ripple),
    &.mat-radio-checked .mat-radio-persistent-ripple,
    &:active .mat-radio-persistent-ripple {
      background: mat-color($theme);
    }
}
