<div class="flex flex-col gap-2">
  @for (label of labels; track trackByFn($index, label)) {
    <div class="flex items-center justify-between">
      <mat-checkbox [color]="'primary'" [checked]="hasLabel(label)" (change)="toggleLabel(label, $event.checked)"
        (click)="$event.stopPropagation()">
        <span class="text-sm dark:text-gray-100">{{label.name}}</span>
      </mat-checkbox>
      <label-update [label]="label" (labelUpdated)="updateLabel($event)" (labelDeleted)="deleteLabel(label)">
      </label-update>
    </div>
  }
</div>