<div class="flex flex-col gap-2">
  <ng-container *ngFor="let member of members; trackBy: trackByFn">
    <div class="flex items-center justify-between">
      <mat-checkbox class="justify-items-center" [color]="'primary'" [checked]="hasMember(member)"
        (change)="toggleMember(member, $event.checked)" (click)="$event.stopPropagation()">
        <div class="flex items-center space-x-3">
          <div class="flex-shrink-0">
            <img class="h-10 w-10 rounded-full" [src]="member.avatar" alt="">
          </div>
          <div class="flex-1 min-w-0">
              <p class="text-sm font-medium text-gray-900 dark:text-gray-100">
                {{member.name}}
              </p>
              <p class="text-sm text-gray-500 truncate">
                {{member.job}}
              </p>
          </div>
        </div>
      </mat-checkbox>
    </div>
  </ng-container>
</div>