<form [formGroup]="highScoreForm" (ngSubmit)="persistWinner()">
    <div class="w-full">
        <label class="block text-sm font-medium text-gray-700 dark:text-gray-200">Well done! Enter your first name
            :</label>
        <mat-form-field class="w-full" appearance="outline">
            <input matInput class="text-gray-900 dark:text-gray-100" [formControlName]="'name'" />
            <mat-error>Name is required.</mat-error>
        </mat-form-field>
    </div>
    <div class="relative">
        <button mat-flat-button 
            type="submit">
            I won!
        </button>
    </div>
</form>