<form [formGroup]="highScoreForm" (ngSubmit)="persistWinner()">
    <div class="w-full">
        <label class="block text-sm font-medium text-gray-700 dark:text-gray-200">Well done! Enter your first name
            :</label>
        <mat-form-field class="w-full" appearance="outline">
            <input matInput class="text-gray-900 dark:text-gray-100" [formControlName]="'name'" />
            <mat-error>Name is required.</mat-error>
        </mat-form-field>
    </div>
    <div class="relative">
        <button type="submit"
            class="absolute right-0 px-4 py-2 border border-transparent text-sm font-medium rounded shadow-sm text-indigo-100 bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">
            I won!
        </button>
    </div>
</form>