<li class="col-span-1 flex shadow-sm rounded-md hover:shadow-lg transition-shadow">
  <div
      class="flex-shrink-0 flex items-center justify-center w-16 text-white text-sm font-medium rounded-l-md"
      [class]="bgColor">
      {{textAtLeft}}
  </div>
  <div
      class="flex-1 flex items-center justify-between border-t border-r border-b border-gray-200 dark:border-gray-900 bg-white dark:bg-gray-900 rounded-r-md truncate">
      <div class="flex-1 px-4 py-2 text-sm truncate">
          <p [matTooltip]="title" class="text-gray-900 dark:text-gray-100 font-medium hover:text-gray-600">
              {{title}}<p>
          <p class="text-gray-500">{{subtitle}}</p>
      </div>
      <div class="flex-shrink-0 pr-2">
          <ng-content></ng-content>
      </div>
  </div>
</li>