@use '@angular/material' as mat;
@use "sass:map";

/* Include the core Angular Material styles */
// TODO(v15): As of v15 mat.core no longer includes default typography styles.
//  The following line adds:
//    1. Default typography styles for all components
//    2. Styles for typography hierarchy classes (e.g. .mat-headline-1)
//  If you specify typography styles for the components you use elsewhere, you should delete this line.
//  If you don't need the default component typographies but still want the hierarchy styles,
//  you can delete this line and instead use:
//    `@include mat.typography-hierarchy(mat.define-typography-config());`
//@include mat.all-component-typographies();
@include mat.core();

/* Generate Primary, Accent and Warn palettes */
$palettes: (
  primary: (
    0: #000000,
    10: #0f0069,
    20: #1e1b4b,
    25: #3730a3,
    30: #3730a3,
    35: #4338ca,
    40: #4f46e5,
    50: #6366f1,
    60: #818cf8,
    70: #a5b4fc,
    80: #c7d2fe,
    90: #e0e7ff,
    95: #eef2ff,
    98: #fcf8ff,
    99: #fffbff,
    100: #ffffff,
  ),
  secondary: (
    0: #000000,
    10: #001b3c,
    20: #003061,
    25: #003b75,
    30: #004689,
    35: #11529a,
    40: #255ea6,
    50: #4378c1,
    60: #5f92dd,
    70: #7bacfa,
    80: #a8c8ff,
    90: #d5e3ff,
    95: #ecf1ff,
    98: #f9f9ff,
    99: #fdfbff,
    100: #ffffff,
  ),
  tertiary: (
    0: #000000,
    10: #2f1123,
    20: #472639,
    25: #533044,
    30: #603c50,
    35: #6d475c,
    40: #7a5368,
    50: #956b81,
    60: #b0849b,
    70: #cd9eb6,
    80: #eab9d1,
    90: #ffd8ea,
    95: #ffecf3,
    98: #fff8f8,
    99: #fffbff,
    100: #ffffff,
  ),
  neutral: (
    0: #000000,
    10: #1c1b1f,
    20: #313034,
    25: #3c3b3f,
    30: #47464a,
    35: #535256,
    40: #5f5e62,
    50: #78767a,
    60: #929094,
    70: #adaaaf,
    80: #c9c5ca,
    90: #e5e1e6,
    95: #f3eff4,
    98: #fcf8fd,
    99: #fffbff,
    100: #ffffff,
    4: #0e0e11,
    6: #131316,
    12: #201f23,
    17: #2a292d,
    22: #353438,
    24: #3a393c,
    87: #dcd9dd,
    92: #ebe7ec,
    94: #f0edf1,
    96: #f6f2f7,
  ),
  neutral-variant: (
    0: #000000,
    10: #1b1b23,
    20: #302f38,
    25: #3b3a43,
    30: #47464f,
    35: #53515a,
    40: #5f5d67,
    50: #787680,
    60: #928f9a,
    70: #acaab4,
    80: #c8c5d0,
    90: #e4e1ec,
    95: #f3effa,
    98: #fcf8ff,
    99: #fffbff,
    100: #ffffff,
  ),
  error: (
    0: #000000,
    10: #410002,
    20: #690005,
    25: #7e0007,
    30: #93000a,
    35: #a80710,
    40: #ba1a1a,
    50: #de3730,
    60: #ff5449,
    70: #ff897d,
    80: #ffb4ab,
    90: #ffdad6,
    95: #ffedea,
    98: #fff8f7,
    99: #fffbff,
    100: #ffffff,
  ),
);


$rest: (
  secondary: map.get($palettes, secondary),
  neutral: map.get($palettes, neutral),
  neutral-variant: map.get($palettes,  neutral-variant),
  error: map.get($palettes, error),
);

$primary: map.merge(map.get($palettes, primary), $rest);
$tertiary: map.merge(map.get($palettes, tertiary), $rest);


// Define the theme object.
$light-theme: mat.define-theme((
  color: (
    theme-type: light,
    primary: $primary,
    tertiary: $tertiary,
  ),
  density: (
    scale: 0,
  ),
  typography: (
    brand-family: 'Roboto'
  )
));

$dark-theme: mat.define-theme((
  color: (
    theme-type: dark,
    primary: $primary,
    tertiary: $tertiary,
  ),
  density: (
    scale: 0,
  ),
  typography: (
    brand-family: 'Roboto'
  )
));

body {
  @include mat.all-component-themes($light-theme);
}

body.dark,
body .dark {
    /* Use all-component-colors to only generate the colors */
    @include mat.all-component-colors($dark-theme);
}
